* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: didot;
  src: url("../fonts/didot.ttc");
}

html,
body {
  height: 100% !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;
}

@media screen and (min-width: 544px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 76px;
  }
}

ul {
  list-style-type: none;
}

.go-to-listing {
  width: 200px;
  height: 200px;
  margin: 4rem auto;
}

.go-to-listing a {
  font-size: 2rem;
}

.listing-header .breadcrumbs {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.listing-header .breadcrumbs ul li {
  display: inline-block;
}

.listing-header .breadcrumbs ul li:hover {
  cursor: pointer;
}

.listing-header .view-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .listing-header .view-title {
    display: inline-block;
  }
}

.listing-header .view-title p {
  font-family: didot;
}

.listing-header .hr-desktop-hidden {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .listing-header .hr-desktop-hidden {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .listing-header .buttons-wp {
    text-align: right;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-top: -0.5rem;
  }
}

.listing-header .buttons-wp .filters {
  background-color: #ffffff;
  border: 1px solid #9a004f;
  display: inline-block;
  color: #9a004f;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .listing-header .buttons-wp .filters {
    display: none;
  }
}

.listing-header .buttons-wp .filters:hover {
  cursor: pointer;
}

.listing-header .buttons-wp .filters span {
  vertical-align: middle;
}

.listing-header .buttons-wp .filters .expander {
  background-color: #9a004f;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-left: 1rem;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.listing-header .buttons-wp .filters .expander i {
  line-height: 2.2rem;
}

.listing-header .buttons-wp .dropdown-sort {
  border: 1px solid #cccccc;
  display: inline-block;
  float: right;
  font-size: 1.3rem;
  padding: 1.3rem 1rem;
  position: relative;
}

.listing-header .buttons-wp .dropdown-sort:hover {
  cursor: pointer;
}

.listing-header .hr-mobile-hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  .listing-header .hr-mobile-hidden {
    display: block;
    margin-top: 2rem;
  }
}

.dropdown-content {
  background-color: #ffffff;
  box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.19);
  border: 1px solid #cccccc;
  display: none;
  left: 1rem;
  margin-left: -1rem;
  margin-top: 1.5rem;
  position: absolute;
  text-align: left;
  top: 4rem;
  width: 152.25px;
  z-index: 1;
}

.dropdown-content ul {
  list-style-type: none;
  padding-left: 1rem;
}

.dropdown-content ul li {
  background-color: #ffffff;
  line-height: 3rem;
}

.dropdown-content ul li:hover {
  font-weight: 600;
}

.filters-section {
  display: none;
  background-color: #ffffff;
  box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  margin: 1rem 0;
  position: absolute;
  width: 300px;
  z-index: 2;
  padding: 0 10px;
}

@media screen and (min-width: 992px) {
  .filters-section {
    box-shadow: none;
    display: inline-block;
    margin-right: 0;
    position: relative;
    vertical-align: top;
    z-index: 0;
  }
}

.filters-section .filter-block {
  border-bottom: 1px solid #cccccc;
  font-size: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.filters-section .filter-block:last-child {
  border-bottom: none;
}

.filters-section .filter-block .filter-block-header {
  margin-bottom: 1.5rem;
  position: relative;
}

.filters-section .filter-block .filter-block-header .filter-title {
  display: inline-block;
}

.filters-section .filter-block .filter-block-header .reset {
  cursor: pointer;
  float: right;
  font-size: 1.2rem;
}

.filters-section .filter-block .filter-block-header .reset:hover {
  color: #9a004f;
}

.filters-section .filter-block ul {
  list-style-type: none;
}

.filters-section .filter-block .filters {
  list-style-type: none;
}

.filters-section .filter-block .filters .filter .expander-wp:hover .filter-expander {
  background-color: #9a004f;
}

.filters-section .filter-block .filters .filter .filter-expander {
  background-color: #33383B;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  position: relative;
  height: 15px;
  width: 15px;
  color: #ffffff;
}

.filters-section .filter-block .filters .filter .filter-expander:hover {
  background-color: #9a004f;
}

.filters-section .filter-block .filters .filter .filter-expander i {
  font-size: 12px;
  left: 50%;
  margin-left: -4.5px;
  margin-top: -6px;
  top: 50%;
  position: absolute;
}

.filters-section .filter-block .filters .second-level-filter {
  display: none;
  margin-left: 2rem;
}

.filters-section .filter-block .filters .second-level-visible {
  display: block;
}

.filters-section .filter-block .filters .filter, .filters-section .filter-block .filters .secondary-filter {
  line-height: 2.3rem;
}

.filters-section .filter-block .filters .filter:hover, .filters-section .filter-block .filters .secondary-filter:hover {
  cursor: pointer;
}

.filters-section .filter-block .filters .filter:hover .filter-title, .filters-section .filter-block .filters .secondary-filter:hover .filter-title {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter i.fa-close, .filters-section .filter-block .filters .secondary-filter i.fa-close {
  color: transparent;
}

.filters-section .filter-block .filters .secondary-filter:hover .secondary-filter-title {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter-active {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter-active i.fa-close {
  color: #9a004f;
  font-size: 1.2rem;
  vertical-align: top;
}

.menu-visible {
  display: inline-block;
}

.products-grid-section {
  padding: 4rem 0;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .products-grid-section {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 315px);
    margin-left: 1.5rem;
  }
}

.products-grid-section a {
  text-decoration: none;
}

.products-grid-section a:visited {
  color: #43474a;
}

.products-grid-section .container {
  text-align: center;
}

.products-grid-section .grid-wp {
  margin: 0 auto;
  text-align: center;
}

.products-grid-section .grid-wp .grid-wp-inner {
  text-align: left;
}

.products-grid-section .grid-wp .product-wp {
  display: inline-block;
  font-size: 0;
  margin: 1.5rem auto 0;
  margin-right: 1.5rem;
  max-width: 25rem;
  position: relative;
  text-align: center;
  width: 45%;
}

.products-grid-section .grid-wp .product-wp:hover {
  cursor: pointer;
}

@media screen and (min-width: 544px) {
  .products-grid-section .grid-wp .product-wp {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp {
    min-height: 180px;
    vertical-align: top;
    width: 30%;
  }
  .products-grid-section .grid-wp .product-wp:hover {
    background-color: #ffffff;
    z-index: 1;
  }
  .products-grid-section .grid-wp .product-wp:hover .product-zoom {
    display: block;
    top: 0;
    z-index: 3;
    box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
    float: left;
    width: 120%;
    position: absolute;
  }
  .products-grid-section .grid-wp .product-wp:hover .product-zoom .img-wp {
    margin-bottom: 2rem;
  }
  .products-grid-section .grid-wp .product-wp:hover .product-zoom .text-wp {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp:hover .product-zoom .text-wp {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .products-grid-section .grid-wp .product-wp {
    display: inline-block;
    margin-right: 1.5rem;
    text-align: left;
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .products-grid-section .grid-wp .product-wp {
    min-height: 180px;
    width: 22%;
  }
}

.products-grid-section .grid-wp .product-wp .img-wp {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp .img-wp {
    margin-bottom: 0;
  }
}

.products-grid-section .grid-wp .product-wp .img-wp img {
  width: 100%;
}

.products-grid-section .grid-wp .product-wp .text-wp {
  color: #43474a;
  background-color: #ffffff;
  font-size: 1.8rem;
}

@media screen and (min-width: 544px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    font-size: 2rem;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    font-size: 1.5rem;
  }
}

.products-grid-section .grid-wp .product-wp .text-wp .product-title {
  font-weight: 100;
  margin-bottom: 1rem;
}

.products-grid-section .grid-wp .product-wp .text-wp .product-price {
  font-weight: 600;
}

.products-grid-section .grid-wp .product-wp .product-zoom {
  display: none;
  background-color: white;
  position: absolute;
  width: 100%;
}

.pagination-wp {
  font-size: 1.4rem;
  margin: 6rem 0;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .pagination-wp {
    font-size: 1.6rem;
  }
}

.pagination-wp .controls {
  font-weight: 600;
}

.pagination-wp .controls .prev-btn {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .prev-btn {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .prev-btn {
    margin-right: 4rem;
  }
}

.pagination-wp .controls .prev-btn:hover {
  color: #9a004f;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .prev-btn i {
    font-size: 1.2rem;
  }
}

.pagination-wp .controls .pages-list {
  display: inline-block;
}

.pagination-wp .controls .page {
  display: inline-block;
  padding: 0 0.2rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .page {
    padding: 0 0.6rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .page {
    padding: 0 1.2rem;
  }
}

.pagination-wp .controls .page:hover {
  color: #9a004f;
  cursor: pointer;
}

.pagination-wp .controls .page.active {
  color: #9a004f;
}

.pagination-wp .controls .page-doter:hover {
  cursor: pointer;
}

.pagination-wp .controls .next-btn {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .next-btn {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .next-btn {
    margin-left: 4rem;
  }
}

.pagination-wp .controls .next-btn:hover {
  color: #9a004f;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .next-btn i {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=default.css.map */
