* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: didot;
  src: url("../fonts/didot.ttc");
}

html,
body {
  height: 100% !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;
}

@media screen and (min-width: 544px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 76px;
  }
}

ul {
  list-style-type: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.go-to-listing {
  width: 200px;
  height: 200px;
  margin: 4rem auto;
}

.go-to-listing a {
  font-size: 2rem;
}

.listing-header .breadcrumbs {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.listing-header .breadcrumbs ul li {
  display: inline-block;
}

.listing-header .breadcrumbs ul li:hover {
  cursor: pointer;
}

.listing-header .view-title {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .listing-header .view-title {
    display: inline-block;
  }
}

.listing-header .view-title p {
  font-family: didot;
}

.listing-header .hr-desktop-hidden {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px) {
  .listing-header .hr-desktop-hidden {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .listing-header .buttons-wp {
    text-align: right;
    display: inline-block;
    float: right;
    vertical-align: middle;
    margin-top: -0.5rem;
  }
}

.listing-header .buttons-wp .filters {
  background-color: #ffffff;
  border: 1px solid #9a004f;
  display: inline-block;
  color: #9a004f;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1rem;
}

@media screen and (min-width: 992px) {
  .listing-header .buttons-wp .filters {
    display: none;
  }
}

.listing-header .buttons-wp .filters:hover {
  cursor: pointer;
}

.listing-header .buttons-wp .filters span {
  vertical-align: middle;
}

.listing-header .buttons-wp .filters .expander {
  background-color: #9a004f;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-left: 1rem;
  position: relative;
  vertical-align: middle;
  width: 20px;
}

.listing-header .buttons-wp .filters .expander i {
  line-height: 2.2rem;
}

.listing-header .buttons-wp .dropdown-sort {
  border: 1px solid #cccccc;
  display: inline-block;
  float: right;
  font-size: 1.3rem;
  padding: 1.3rem 1rem;
  position: relative;
}

.listing-header .buttons-wp .dropdown-sort:hover {
  border-color: #9a004f;
  color: #9a004f;
  cursor: pointer;
}

.listing-header .hr-mobile-hidden {
  display: none;
}

@media screen and (min-width: 992px) {
  .listing-header .hr-mobile-hidden {
    display: block;
    margin-top: 2rem;
  }
}

.dropdown-content {
  background-color: #ffffff;
  box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.19);
  border: 1px solid #cccccc;
  color: #000000;
  display: none;
  left: 1rem;
  margin-left: -1rem;
  margin-top: 1.5rem;
  position: absolute;
  text-align: left;
  top: 4rem;
  width: 152.25px;
  z-index: 1;
}

.dropdown-content ul {
  list-style-type: none;
  padding-left: 1rem;
}

.dropdown-content ul li {
  background-color: #ffffff;
  line-height: 3rem;
}

.dropdown-content ul li:hover {
  color: #9a004f;
  font-weight: 600;
}

.filters-section {
  display: none;
  background-color: #ffffff;
  box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  margin: 1rem 0;
  position: absolute;
  width: 300px;
  z-index: 2;
  padding: 0 10px;
}

@media screen and (min-width: 992px) {
  .filters-section {
    box-shadow: none;
    display: inline-block;
    margin-right: 0;
    position: relative;
    vertical-align: top;
    z-index: 0;
  }
}

.filters-section .filter-block {
  border-bottom: 1px solid #cccccc;
  font-size: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.filters-section .filter-block:last-child {
  border-bottom: none;
}

.filters-section .filter-block .filter-block-header {
  margin-bottom: 1.5rem;
  position: relative;
}

.filters-section .filter-block .filter-block-header .filter-title {
  display: inline-block;
}

.filters-section .filter-block .filter-block-header .reset {
  cursor: pointer;
  float: right;
  font-size: 1.2rem;
}

.filters-section .filter-block .filter-block-header .reset:hover {
  color: #9a004f;
}

.filters-section .filter-block ul {
  list-style-type: none;
}

.filters-section .filter-block .filters {
  list-style-type: none;
}

.filters-section .filter-block .filters .filter .expander-wp:hover .filter-expander {
  background-color: #9a004f;
}

.filters-section .filter-block .filters .filter .filter-expander {
  background-color: #33383B;
  border-radius: 50%;
  cursor: pointer;
  float: right;
  position: relative;
  height: 15px;
  width: 15px;
  color: #ffffff;
}

.filters-section .filter-block .filters .filter .filter-expander:hover {
  background-color: #9a004f;
}

.filters-section .filter-block .filters .filter .filter-expander i {
  font-size: 12px;
  left: 50%;
  margin-left: -4.5px;
  margin-top: -6px;
  top: 50%;
  position: absolute;
}

.filters-section .filter-block .filters .second-level-filter {
  display: none;
  margin-left: 2rem;
}

.filters-section .filter-block .filters .second-level-visible {
  display: block;
}

.filters-section .filter-block .filters .filter, .filters-section .filter-block .filters .secondary-filter {
  line-height: 2.3rem;
}

.filters-section .filter-block .filters .filter:hover, .filters-section .filter-block .filters .secondary-filter:hover {
  cursor: pointer;
}

.filters-section .filter-block .filters .filter:hover .filter-title, .filters-section .filter-block .filters .secondary-filter:hover .filter-title {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter i.fa-close, .filters-section .filter-block .filters .secondary-filter i.fa-close {
  color: transparent;
}

.filters-section .filter-block .filters .secondary-filter:hover .secondary-filter-title {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter-active {
  color: #9a004f;
}

.filters-section .filter-block .filters .filter-active i.fa-close {
  color: #9a004f;
  font-size: 1.2rem;
  vertical-align: top;
}

.menu-visible {
  display: inline-block;
}

.products-grid-section {
  padding: 4rem 0 0;
  z-index: 1;
}

@media screen and (min-width: 992px) {
  .products-grid-section {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 315px);
    margin-left: 1.5rem;
  }
}

.products-grid-section a {
  text-decoration: none;
}

.products-grid-section a:visited {
  color: #43474a;
}

.products-grid-section .container {
  text-align: center;
}

.grid-wp {
  margin: 0 auto;
  text-align: center;
}

.grid-wp .grid-wp-inner {
  text-align: left;
}

.grid-wp .product-wp {
  display: inline-block;
  font-size: 0;
  margin: 1.5rem auto 0;
  margin-right: 1.5rem;
  max-width: 25rem;
  position: relative;
  text-align: center;
  width: 45%;
}

.grid-wp .product-wp:hover {
  cursor: pointer;
}

@media screen and (min-width: 544px) {
  .grid-wp .product-wp {
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .grid-wp .product-wp {
    min-height: 180px;
    vertical-align: top;
    width: 30%;
  }
  .grid-wp .product-wp:hover {
    background-color: #ffffff;
    z-index: 1;
  }
  .grid-wp .product-wp:hover .product-zoom {
    display: block;
    top: 0;
    z-index: 3;
    box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
    float: left;
    width: 120%;
    position: absolute;
  }
  .grid-wp .product-wp:hover .product-zoom .img-wp {
    margin-bottom: 2rem;
  }
  .grid-wp .product-wp:hover .product-zoom .text-wp {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .grid-wp .product-wp:hover .product-zoom .text-wp {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .grid-wp .product-wp {
    display: inline-block;
    margin-right: 1.5rem;
    text-align: left;
    width: 30%;
  }
}

@media screen and (min-width: 1200px) {
  .grid-wp .product-wp {
    min-height: 180px;
    width: 22%;
  }
}

.grid-wp .product-wp .img-wp {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .grid-wp .product-wp .img-wp {
    margin-bottom: 0;
  }
}

.grid-wp .product-wp .img-wp img {
  width: 100%;
}

.grid-wp .product-wp .text-wp {
  color: #43474a;
  background-color: #ffffff;
  font-size: 1.8rem;
}

@media screen and (min-width: 544px) {
  .grid-wp .product-wp .text-wp {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 768px) {
  .grid-wp .product-wp .text-wp {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .grid-wp .product-wp .text-wp {
    font-size: 2rem;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 1200px) {
  .grid-wp .product-wp .text-wp {
    font-size: 1.5rem;
  }
}

.grid-wp .product-wp .text-wp .product-title {
  font-weight: 100;
  margin-bottom: 1rem;
}

.grid-wp .product-wp .text-wp .product-price {
  font-weight: 600;
}

.grid-wp .product-wp .product-zoom {
  display: none;
  background-color: white;
  position: absolute;
  width: 100%;
}

.pagination-wp {
  font-size: 1.4rem;
  margin: 6rem 0 4rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .pagination-wp {
    font-size: 1.6rem;
  }
}

.pagination-wp .controls {
  font-weight: 600;
}

.pagination-wp .controls .prev-btn {
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .prev-btn {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .prev-btn {
    margin-right: 4rem;
  }
}

.pagination-wp .controls .prev-btn:hover {
  color: #9a004f;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .prev-btn i {
    font-size: 1.2rem;
  }
}

.pagination-wp .controls .pages-list {
  display: inline-block;
}

.pagination-wp .controls .page {
  display: inline-block;
  padding: 0 0.2rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .page {
    padding: 0 0.6rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .page {
    padding: 0 1.2rem;
  }
}

.pagination-wp .controls .page:hover {
  color: #9a004f;
  cursor: pointer;
}

.pagination-wp .controls .page.active {
  color: #9a004f;
}

.pagination-wp .controls .page-doter:hover {
  cursor: pointer;
}

.pagination-wp .controls .next-btn {
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .pagination-wp .controls .next-btn {
    margin-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .next-btn {
    margin-left: 4rem;
  }
}

.pagination-wp .controls .next-btn:hover {
  color: #9a004f;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  .pagination-wp .controls .next-btn i {
    font-size: 1.2rem;
  }
}

header {
  border-bottom: 1px solid #cccccc;
}

header .header-wp {
  font-size: 0;
  padding-bottom: 2rem;
  margin: 2rem 0 0;
}

header .header-wp .logo-wp {
  display: inline-block;
  vertical-align: middle;
  width: 60%;
}

@media screen and (min-width: 992px) {
  header .header-wp .logo-wp {
    display: inline-block;
    width: 40%;
  }
}

header .header-wp .logo-wp img {
  width: 100%;
}

header .header-wp .desktop-buttons-wp {
  display: none;
  font-size: 0;
  vertical-align: middle;
}

@media screen and (min-width: 992px) {
  header .header-wp .desktop-buttons-wp {
    display: inline-block;
    width: 60%;
  }
}

header .header-wp .desktop-buttons-wp .user-cta {
  text-align: right;
  margin-bottom: 2rem;
}

header .header-wp .desktop-buttons-wp .user-cta .user-actions .action {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 4rem;
}

header .header-wp .desktop-buttons-wp .user-cta .user-actions .action:hover {
  color: #9a004f;
  cursor: pointer;
}

header .header-wp .desktop-buttons-wp .user-cta .user-actions .action.cart, header .header-wp .desktop-buttons-wp .user-cta .user-actions .action.register {
  margin-right: 0;
}

header .header-wp .desktop-buttons-wp .menu-wp {
  font-size: 1.1rem;
  font-weight: 700;
  display: inline-block;
  width: 75%;
}

@media screen and (min-width: 1200px) {
  header .header-wp .desktop-buttons-wp .menu-wp {
    font-size: 1.2rem;
  }
}

header .header-wp .desktop-buttons-wp .menu-wp .menu-list {
  text-align: right;
}

header .header-wp .desktop-buttons-wp .menu-wp .menu-list .menu-item {
  display: inline-block;
  padding-right: 2rem;
}

header .header-wp .desktop-buttons-wp .menu-wp .menu-list .menu-item:hover {
  color: #9a004f;
  cursor: pointer;
}

header .header-wp .desktop-buttons-wp .menu-wp .menu-list .menu-item .menu-title-text {
  font-family: didot;
}

header .header-wp .mobile-buttons-wp {
  display: inline-block;
  font-size: 1.4rem;
  text-align: right;
  vertical-align: middle;
  width: 40%;
}

@media screen and (min-width: 544px) {
  header .header-wp .mobile-buttons-wp {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) {
  header .header-wp .mobile-buttons-wp {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 992px) {
  header .header-wp .mobile-buttons-wp {
    display: none;
  }
}

header .header-wp .mobile-buttons-wp .cart-wp {
  padding-right: 1.5rem;
}

.social-icons {
  display: inline-block;
  font-size: 1.2rem;
  text-align: right;
  width: 25%;
}

.social-icons a .social-icon {
  color: #43474a;
  padding-left: 1rem;
}

.social-icons a:hover {
  cursor: pointer;
}

.social-icons a:hover i {
  color: #9a004f;
}

footer {
  border-top: 4px solid #9a004f;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  footer {
    padding-top: 4rem;
  }
}

footer .subscribe-wp {
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  footer .subscribe-wp {
    width: 35%;
    display: inline-block;
    float: right;
    vertical-align: top;
    text-align: right;
  }
}

footer .subscribe-wp .email-address {
  background-color: #f4f4f4;
  border: none;
  color: #969696;
  display: inline-block;
  font-size: 1.3rem;
  height: 35px;
  padding: 1rem;
  vertical-align: top;
  width: 225px;
}

@media screen and (min-width: 992px) {
  footer .subscribe-wp .email-address {
    width: 300px;
  }
}

@media screen and (min-width: 1200px) {
  footer .subscribe-wp .email-address {
    width: 220px;
  }
}

footer .subscribe-wp .submit-btn {
  background-color: #9a004f;
  border: 1px solid #9a004f;
  color: #ffffff;
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  height: 35px;
  padding: 1rem;
  text-align: center;
  vertical-align: top;
  width: 75px;
}

@media screen and (min-width: 992px) {
  footer .subscribe-wp .submit-btn {
    width: 100px;
  }
}

footer .subscribe-wp .submit-btn:hover {
  background-color: #ffffff;
  color: #9a004f;
  cursor: pointer;
}

footer .footer-menu-wp {
  font-size: 0;
  padding-top: 2rem;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  footer .footer-menu-wp {
    width: 65%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding-top: 1rem;
    margin-bottom: 3rem;
  }
}

footer .footer-menu-wp .footer-list {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  footer .footer-menu-wp .footer-list {
    display: inline-block;
    text-align: left;
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-menu-wp .footer-list {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1200px) {
  footer .footer-menu-wp .footer-list {
    font-size: 1.1rem;
  }
}

footer .footer-menu-wp .footer-list .footer-menu-item {
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  footer .footer-menu-wp .footer-list .footer-menu-item {
    display: inline-block;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 768px) {
  footer .footer-menu-wp .footer-list .footer-menu-item.about-item {
    padding-left: 0;
  }
}

footer .footer-menu-wp .footer-list .footer-menu-item a {
  font-family: didot;
  text-decoration: none;
}

footer .footer-menu-wp .footer-list .footer-menu-item a:visited, footer .footer-menu-wp .footer-list .footer-menu-item a:visited, footer .footer-menu-wp .footer-list .footer-menu-item a:active, footer .footer-menu-wp .footer-list .footer-menu-item a:link {
  color: #000000;
}

footer .footer-menu-wp .footer-list .footer-menu-item a:hover {
  color: #9a004f;
  cursor: pointer;
  font-weight: 600;
}

footer .footer-menu-wp .social-icons {
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer .footer-menu-wp .social-icons {
    display: inline-block;
    text-align: right;
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  footer .footer-menu-wp .social-icons a i.social-icon {
    font-size: 1.4rem;
  }
}

footer .copyright-wp {
  font-size: 1.2rem;
  line-height: 3rem;
  margin: 2rem 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  footer .copyright-wp {
    font-size: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  footer .copyright-wp {
    margin: 2.5rem 0;
  }
}

footer .copyright-wp .copyright {
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  footer .copyright-wp .copyright {
    display: inline-block;
    font-size: 1.2rem;
    text-align: left;
    vertical-align: top;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  footer .copyright-wp .copyright {
    font-size: 1.4rem;
  }
}

footer .copyright-wp .roswell {
  color: #969696;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  footer .copyright-wp .roswell {
    display: inline-block;
    font-size: 1.2rem;
    text-align: right;
    vertical-align: top;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  footer .copyright-wp .roswell {
    font-size: 1.4rem;
  }
}

footer .copyright-wp .roswell a:visited, footer .copyright-wp .roswell a:visited, footer .copyright-wp .roswell a:active, footer .copyright-wp .roswell a:link {
  color: #969696;
}

footer .copyright-wp .roswell a:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.product-visualizer .mobile-product-viewer {
  display: block;
}

@media screen and (min-width: 768px) {
  .product-visualizer .mobile-product-viewer {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .product-visualizer .mobile-product-viewer {
    display: none;
  }
}

.product-visualizer .mobile-product-viewer .product-img-wp {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}

.product-visualizer .mobile-product-viewer .product-img-wp img {
  width: 100%;
  margin: 0 auto;
}

.product-visualizer .mobile-product-viewer .product-img-list-wp {
  margin: 2rem 0;
}

.product-visualizer .mobile-product-viewer .product-img-list-wp .product-img-list {
  text-align: center;
}

.product-visualizer .mobile-product-viewer .product-img-list-wp .product-img-list .product-img {
  display: inline-block;
  margin-right: 1rem;
}

.product-visualizer .mobile-product-viewer .product-img-list-wp .product-img-list .product-img .image-selector {
  border-radius: 50%;
  background-color: #545454;
  display: inline-block;
  height: 12px;
  width: 12px;
}

.product-visualizer .mobile-product-viewer .product-img-list-wp .product-img-list .product-img .image-selector.active {
  background-color: #8C8C8C;
}

.product-visualizer .desktop-product-viewer {
  display: none;
}

@media screen and (min-width: 992px) {
  .product-visualizer .desktop-product-viewer {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
  }
}

.product-visualizer .controls-section {
  margin: 3.5rem 0 2rem;
}

@media screen and (min-width: 768px) {
  .product-visualizer .controls-section {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}

.product-visualizer .controls-section .product-name {
  font-family: didot;
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.product-visualizer .controls-section .product-price {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 3rem 0 1rem;
}

.product-visualizer .controls-section .control-wp {
  margin-bottom: 1.2rem;
}

.product-visualizer .controls-section .control-wp .control-title {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

@media screen and (min-width: 544px) {
  .product-visualizer .controls-section .control-wp .control-title {
    width: calc(100% - 25rem);
  }
}

@media screen and (min-width: 1200px) {
  .product-visualizer .controls-section .control-wp .control-title {
    width: 35%;
  }
}

.product-visualizer .controls-section .control-wp .control-title .control-text {
  font-size: 1.2rem;
}

.product-visualizer .controls-section .control-wp .control {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

@media screen and (min-width: 544px) {
  .product-visualizer .controls-section .control-wp .control {
    width: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .product-visualizer .controls-section .control-wp .control {
    width: 65%;
  }
}

.product-visualizer .controls-section .control-wp .control .dropdown-selector {
  border: 1px solid #cccccc;
  font-size: 1.2rem;
  padding: 1rem;
  position: relative;
}

.product-visualizer .controls-section .control-wp .control .dropdown-selector i {
  float: right;
}

.product-visualizer .controls-section .color-selector .color-list .color {
  display: inline-block;
  height: 30px;
  margin-right: 7px;
  width: 30px;
  border: 1px solid transparent;
}

.product-visualizer .controls-section .color-selector .color-list .color:hover {
  border: 1px solid black;
  cursor: pointer;
}

.product-visualizer .controls-section .color-selector .color-list .color.yellow {
  background-color: #EEC236;
}

.product-visualizer .controls-section .color-selector .color-list .color.gray {
  background-color: #BABABA;
}

.product-visualizer .controls-section .color-selector .color-list .color.rose {
  background-color: #DE97A1;
}

.product-visualizer .controls-section .color-selector .color-list .color.darker-gray {
  background-color: #626262;
}

.product-visualizer .controls-section .quantity .control-title {
  vertical-align: top;
}

.product-visualizer .controls-section .quantity .control-title.quantity-title {
  padding-top: 1rem;
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .quantity .control-title.quantity-title {
    display: inline-block;
    width: calc(100% - 25rem);
  }
}

@media screen and (min-width: 1200px) {
  .product-visualizer .controls-section .quantity .control-title.quantity-title {
    width: 35%;
  }
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .quantity .control {
    display: inline-block;
  }
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .quantity .quantity-wp {
    display: inline-block;
    vertical-align: top;
    width: 40%;
  }
}

.product-visualizer .controls-section .quantity .quantity-wp .quantity-btn {
  border: 1px solid #cdcdcd;
  display: inline-block;
  color: #000000;
  padding: 4px;
  height: 3rem;
  vertical-align: top;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  width: 3rem;
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .quantity .quantity-wp .quantity-btn {
    height: 3.3rem;
  }
}

.product-visualizer .controls-section .quantity .quantity-wp .quantity-btn:hover {
  cursor: pointer;
}

.product-visualizer .controls-section .quantity .quantity-wp .quantity-btn.inc {
  padding-left: 8px;
  font-size: 1.8rem;
}

.product-visualizer .controls-section .quantity .quantity-wp input[type="number"]::-webkit-outer-spin-button,
.product-visualizer .controls-section .quantity .quantity-wp input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-visualizer .controls-section .quantity .quantity-wp input[type="number"] {
  -moz-appearance: textfield;
}

.product-visualizer .controls-section .quantity .quantity-wp .quantity-input {
  border: none;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  display: inline-block;
  height: 3rem;
  text-align: center;
  width: 3rem;
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .quantity .quantity-wp .quantity-input {
    height: 3.3rem;
  }
}

.product-visualizer .controls-section .add-to-cart-wp {
  text-align: right;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .add-to-cart-wp {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: top;
    width: 60%;
  }
}

.product-visualizer .controls-section .add-to-cart-wp .add-to-cart-btn {
  background-color: #9a004f;
  border: 1px solid #9a004f;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  max-width: 200px;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .product-visualizer .controls-section .add-to-cart-wp .add-to-cart-btn {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
  }
}

.product-visualizer .controls-section .add-to-cart-wp .add-to-cart-btn:hover {
  background-color: #ffffff;
  color: #9a004f;
  cursor: pointer;
  font-weight: 700;
}

.product-visualizer .controls-section .share-section {
  margin: 3rem 0 1rem;
}

.product-visualizer .controls-section .share-section .share-title {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 1.5rem;
}

.product-visualizer .controls-section .share-section .share-icons {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.product-visualizer .controls-section .share-section .share-icons .social-icon {
  color: #9a004f;
  margin-right: 1rem;
}

.product-visualizer .controls-section .share-section .share-icons .social-icon:hover {
  cursor: pointer;
}

.product-visualizer .controls-section .share-section .share-description {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.also-like-section {
  padding-top: 2rem;
}

@media screen and (min-width: 768px) {
  .also-like-section {
    padding-top: 4rem;
  }
}

.also-like-section .also-like-title {
  font-family: didot;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.also-like-section .also-like-grid-wp {
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .also-like-section .also-like-grid-wp {
    margin-bottom: 6rem;
  }
}

.also-like-section .also-like-grid-wp .grid-wp .grid-wp-inner {
  text-align: center;
}

@media screen and (min-width: 544px) {
  .also-like-section .also-like-grid-wp .product-wp {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .also-like-section .also-like-grid-wp .product-wp {
    width: 20%;
  }
}

@media screen and (min-width: 992px) {
  .also-like-section .also-like-grid-wp .product-wp {
    margin-right: 4rem;
  }
}

.also-like-section .also-like-grid-wp .product-wp .text-wp {
  font-size: 1.5rem;
}

/*# sourceMappingURL=default.css.map */
