
html {font-size: 62.5%;}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;

  @media screen and (min-width: $sm-min-width) {
    margin: 0 auto;
    padding: 0 50px;
  }

  @media screen and (min-width: $md-min-width) {
    margin: 0 auto;
    padding: 0 10px;
  }

  @media screen and (min-width: $lg-min-width) {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }

  @media screen and (min-width: $xl-min-width) {
    padding: 0 76px;
  }
}

//colors:

//landing-page
$bg-color: #f1f1f1;
$main-blue-color: #00aeef;
$main-green-color: #00a7b5;
$category-dark-blue: #00659d;
$category-orange: #ee7722;
$category-green: #00b6c9;
$category-yellow: #ffce34;
$category-magenta: #b6006a;
$light-text-color: #7e8890;
