
html {font-size: 62.5%;}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;

  @media screen and (min-width: $sm-min-width) {
    margin: 0 auto;
    padding: 0 50px;
  }

  @media screen and (min-width: $md-min-width) {
    margin: 0 auto;
    padding: 0 20px;
  }

  @media screen and (min-width: $lg-min-width) {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }

  @media screen and (min-width: $xl-min-width) {
    padding: 0 76px;
  }
}

ul {
  list-style-type: none;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: #000000;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -25px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

//colors:

//landing-page
$bg-color: #f1f1f1;
$light-gray-text-color: #43474a;
$secondary-color: #9a004f;

