.listing-header {

  .breadcrumbs {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    ul {
      li {
        display: inline-block;
      }
    }
  }

  .view-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .hr-desktop-hidden {
    margin-bottom: 1.5rem;
    @media screen and (min-width: $md-min-width) {
      display: none;
    }
  }

  .buttons-wp {
    .filters {
      background-color: #ffffff;
      border: 1px solid $secondary-color;
      display: inline-block;
      color: $secondary-color;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 1rem;

      &:hover {
        cursor: pointer;
      }

      span {
        vertical-align: middle;
      }

      .expander {
        background-color: $secondary-color;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        margin-left: 1rem;
        position: relative;
        vertical-align: middle;
        width: 20px;

        i {
          line-height: 2.2rem;
        }
      }
    }

    .dropdown-sort {
      border: 1px solid #cccccc;
      display: inline-block;
      float: right;
      font-size: 1.3rem;
      padding: 1.3rem 1rem;

      &:hover {
        cursor: pointer;
      }

      .dropdown-content {
        display: none;
      }
    }
  }

  .hr-mobile-hidden {
    display: none;
    @media screen and (min-width: $md-min-width) {
      display: block;
      margin-top: 2rem;
    }
  }
}

.filters-section {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  margin: 2rem 0;
  position: absolute;
  width: 300px;
  z-index: 2;
  padding: 0 10px;

  @media screen and (min-width: $lg-min-width) {
    box-shadow: none;
    display: inline-block;
    margin-right: 0;
    position: relative;
    vertical-align: top;
    z-index: 1;
  }

  .filter-block {
    border-bottom: 1px solid #cccccc;
    font-size: 1.4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &:last-child {
      border-bottom: none;
    }

    .filter-block-header {
      margin-bottom: 1.5rem;
      position: relative;

      .filter-title {
        display: inline-block;
      }

      .reset {
        float: right;
        cursor: pointer;
      }
    }

    ul {
      list-style-type: none;
    }

    .filters {
      list-style-type: none;

      .filter {
        .filter-expander {
          background-color: #33383B;
          border-radius: 50%;
          cursor: pointer;
          float: right;
          position: relative;
          height: 15px;
          width: 15px;
          color: #ffffff;

          &:hover {
            background-color: $secondary-color;
          }

          i {
            font-size: 12px;
            left: 50%;
            margin-left: -5px;
            margin-top: -6px;
            top: 50%;
            position: absolute;
          }
        }
      }

      .second-level-filter {
        margin-left: 2rem;
      }

      .filter, .secondary-filter {
        line-height: 2.3rem;

        &:hover {
          cursor: pointer;

          .filter-title{
            color: $secondary-color;
          }
        }
      }

      .secondary-filter {
        &:hover {
          .secondary-filter-title {
            color: $secondary-color;
          }
        }
      }
    }
  }
}

.products-grid-section {
  padding: 4rem 0;
  z-index: 1;

  @media screen and (min-width: $lg-min-width) {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 340px);
  }

  a {
    text-decoration: none;
    &:visited {
      color: $light-gray-text-color;
    }
  }

  .container {
    text-align: center;
  }

  .grid-wp {
    margin: 0 auto;
    text-align: center;

    .product-wp {
      font-size: 0;
      margin: 2rem auto 0;
      margin-bottom: 2rem;
      text-align: center;
      max-width: 25rem;

      &:hover {
        cursor: pointer;
      }

      @media screen and (min-width: $sm-min-width) {
        display: inline-block;
        width: 50%;
      }

      @media screen and (min-width:  $md-min-width) {
        min-height: 360px;
        vertical-align: top;

        &:hover {
          transform: scale(1.1);
          background-color: #ffffff;
          -webkit-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.19);
          -moz-box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.19);

          .text-wp {
            @media screen and (min-width: $md-min-width) {
              display: block;
            }
          }
        }
      }

      @media screen and (min-width: $lg-min-width) {
        display: inline-block;
        margin-right: 2rem;
        text-align: left;
        width: 30%;
      }


      .img-wp {
        margin-bottom: 2rem;

        img {
          width: 100%;
        }
      }

      .text-wp {
        color: $light-gray-text-color;
        font-size: 2.2rem;
        margin-bottom: 1rem;
        @media screen and (min-width: $md-min-width) {
          display: none;
        }
        @media screen and (min-width: $lg-min-width) {
          padding-left: 1rem;
        }

        .product-title {
          font-weight: 100;
          margin-bottom: 1rem;
        }

        .product-price {
          font-weight: 600;
        }
      }
    }
  }
}