.listing-header {

  .breadcrumbs {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    ul {
      li {
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .view-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    @media screen and (min-width: $lg-min-width) {
      display: inline-block;
    }

    p {
      font-family: didot;
    }
  }

  .hr-desktop-hidden {
    margin-bottom: 1.5rem;
    @media screen and (min-width: $lg-min-width) {
      display: none;
    }
  }

  .buttons-wp {
    @media screen and (min-width: $lg-min-width) {
      text-align: right;
      display: inline-block;
      float: right;
      vertical-align: middle;
      margin-top: -0.5rem;
    }

    .filters {
      background-color: #ffffff;
      border: 1px solid $secondary-color;
      display: inline-block;
      color: $secondary-color;
      font-size: 1.3rem;
      font-weight: 700;
      padding: 1rem;
      @media screen and (min-width: $lg-min-width) {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }

      span {
        vertical-align: middle;
      }

      .expander {
        background-color: $secondary-color;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        margin-left: 1rem;
        position: relative;
        vertical-align: middle;
        width: 20px;

        i {
          line-height: 2.2rem;
        }
      }
    }

    .dropdown-sort {
      border: 1px solid #cccccc;
      display: inline-block;
      float: right;
      font-size: 1.3rem;
      padding: 1.3rem 1rem;
      position: relative;
      &:hover {
        border-color: $secondary-color;
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }

  .hr-mobile-hidden {
    display: none;
    @media screen and (min-width: $lg-min-width) {
      display: block;
      margin-top: 2rem;
    }
  }
}

.dropdown-content {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 20px 6px rgba(0, 0, 0, 0.19);
  border: 1px solid #cccccc;
  color: #000000;
  display: none;
  left: 1rem;
  margin-left: -1rem;
  margin-top: 1.5rem;
  position: absolute;
  text-align: left;
  top: 4rem;
  width: 152.25px;
  z-index: 1;

  ul {
    list-style-type: none;
    padding-left: 1rem;

    li {
      background-color: #ffffff;
      line-height: 3rem;

      &:hover {
        color: $secondary-color;
        font-weight: 600;
      }
    }
  }
}

.filters-section {
  display: none;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  box-shadow: 1px 1px 42px 6px rgba(0, 0, 0, 0.19);
  margin: 1rem 0;
  position: absolute;
  width: 300px;
  z-index: 2;
  padding: 0 10px;

  @media screen and (min-width: $lg-min-width) {
    box-shadow: none;
    display: inline-block;
    margin-right: 0;
    position: relative;
    vertical-align: top;
    z-index: 0;
  }

  .filter-block {
    border-bottom: 1px solid #cccccc;
    font-size: 1.4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    &:last-child {
      border-bottom: none;
    }

    .filter-block-header {
      margin-bottom: 1.5rem;
      position: relative;

      .filter-title {
        display: inline-block;
      }

      .reset {
        cursor: pointer;
        float: right;
        font-size: 1.2rem;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    ul {
      list-style-type: none;
    }

    .filters {
      list-style-type: none;

      .filter {

        .expander-wp {
          &:hover {
            .filter-expander {
              background-color: $secondary-color;
            }
          }
        }

        .filter-expander {
          background-color: #33383B;
          border-radius: 50%;
          cursor: pointer;
          float: right;
          position: relative;
          height: 15px;
          width: 15px;
          color: #ffffff;

          &:hover {
            background-color: $secondary-color;
          }

          i {
            font-size: 12px;
            left: 50%;
            margin-left: -4.5px;
            margin-top: -6px;
            top: 50%;
            position: absolute;
          }
        }
      }

      .second-level-filter {
        display: none;
        margin-left: 2rem;
      }

      .second-level-visible {
        display: block;
      }

      .filter, .secondary-filter {
        line-height: 2.3rem;

        &:hover {
          cursor: pointer;

          .filter-title {
            color: $secondary-color;
          }
        }
        i.fa-close {
          color: transparent;
        }
      }

      .secondary-filter {
        &:hover {
          .secondary-filter-title {
            color: $secondary-color;
          }
        }
      }

      .filter-active {
        color: $secondary-color;

        i.fa-close {
          color: $secondary-color;
          font-size: 1.2rem;
          vertical-align: top;
        }
      }
    }
  }
}

.menu-visible {
  display: inline-block;
}

.products-grid-section {
  padding: 4rem 0 0;
  z-index: 1;

  @media screen and (min-width: $lg-min-width) {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 315px);
    margin-left: 1.5rem;
  }

  a {
    text-decoration: none;
    &:visited {
      color: $light-gray-text-color;
    }
  }

  .container {
    text-align: center;
  }

  .grid-wp {
    margin: 0 auto;
    text-align: center;

    .grid-wp-inner {
      text-align: left;
    }

    .product-wp {
      display: inline-block;
      font-size: 0;
      margin: 1.5rem auto 0;
      margin-right: 1.5rem;
      max-width: 25rem;
      position: relative;
      text-align: center;
      width: 45%;

      &:hover {
        cursor: pointer;
      }

      @media screen and (min-width: $sm-min-width) {
        display: inline-block;
      }

      @media screen and (min-width: $md-min-width) {
        min-height: 180px;
        vertical-align: top;
        width: 30%;

        &:hover {
          background-color: #ffffff;
          z-index: 1;

          .product-zoom {
            display: block;
            top: 0;
            z-index: 3;
            -webkit-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
            -moz-box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
            box-shadow: 0px 1px 14px 3px rgba(0, 0, 0, 0.19);
            float: left;
            width: 120%;
            position: absolute;

            .img-wp {
              margin-bottom: 2rem;
            }

            .text-wp {
              margin-bottom: 1rem;
              @media screen and (min-width: $md-min-width) {
                display: block;
              }
            }
          }
        }
      }

      @media screen and (min-width: $lg-min-width) {
        display: inline-block;
        margin-right: 1.5rem;
        text-align: left;
        width: 30%;
      }
      @media screen and (min-width: $xl-min-width) {
        min-height: 180px;
        width: 22%;
      }

      .img-wp {
          margin-bottom: 2rem;
        @media screen and (min-width: $md-min-width) {
          margin-bottom: 0;
        }
        img {
          width: 100%;
        }
      }

      .text-wp {
        color: $light-gray-text-color;
        background-color: #ffffff;
        font-size: 1.8rem;
        @media screen and (min-width: $sm-min-width) {
          font-size: 2.2rem;
        }
        @media screen and (min-width: $md-min-width) {
          display: none;
        }
        @media screen and (min-width: $lg-min-width) {
          font-size: 2rem;
          padding-left: 1rem;
        }
        @media screen and (min-width: $xl-min-width) {
          font-size: 1.5rem;
        }

        .product-title {
          font-weight: 100;
          margin-bottom: 1rem;
        }

        .product-price {
          font-weight: 600;
        }
      }

      .product-zoom {
        display: none;
        background-color: white;
        position: absolute;
        width: 100%;
      }
    }
  }
}

.pagination-wp {
  font-size: 1.4rem;
  @media screen and (min-width: $lg-min-width) {
    font-size: 1.6rem;
  }
  margin: 6rem 0 4rem;
  text-align: center;

  .controls {
    font-weight: 600;

    .prev-btn {
      margin-right: 1rem;
      @media screen and (min-width: $md-min-width) {
        margin-right: 2rem;
      }
      @media screen and (min-width: $lg-min-width) {
        margin-right: 4rem;
      }

      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }

      i {
        @media screen and (min-width: $lg-min-width) {
          font-size: 1.2rem;
        }
      }
    }

    .pages-list {
      display: inline-block;
    }

    .page {
      display: inline-block;
      padding: 0 0.2rem;
      @media screen and (min-width: $md-min-width) {
        padding: 0 0.6rem;
      }
      @media screen and (min-width: $lg-min-width) {
        padding: 0 1.2rem;
      }

      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }

      &.active {
        color: $secondary-color;
      }
    }

    .page-doter {
      &:hover {
        cursor: pointer;
      }
    }

    .next-btn {
      margin-left: 1rem;
      @media screen and (min-width: $md-min-width) {
        margin-left: 2rem;
      }
      @media screen and (min-width: $lg-min-width) {
        margin-left: 4rem;
      }

      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }

      i {
        @media screen and (min-width: $lg-min-width) {
          font-size: 1.2rem;
        }
      }
    }
  }
}
