.product-visualizer {

  .mobile-product-viewer {
    display: block;
    @media screen and (min-width: $md-min-width) {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }
    @media screen and (min-width: $lg-min-width) {
      display: none;
    }

    .product-img-wp {
      margin: 0 auto;
      max-width: 300px;
      text-align: center;

      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    .product-img-list-wp {
      margin: 2rem 0;

      .product-img-list {
        text-align: center;

        .product-img {
          display: inline-block;
          margin-right: 1rem;

          .image-selector {
            border-radius: 50%;
            background-color: #545454;
            display: inline-block;
            height: 12px;
            width: 12px;

            &.active {
              background-color: #8C8C8C;
            }
          }
        }
      }
    }
  }

  .desktop-product-viewer {
    display: none;
    @media screen and (min-width: $lg-min-width) {
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }
  }

  .controls-section {
    margin: 3.5rem 0 2rem;
    @media screen and (min-width: $md-min-width) {
      display: inline-block;
      vertical-align: middle;
      width: 50%;
    }

    .product-name {
      font-family: didot;
      font-size: 2.2rem;
      margin-bottom: 1.5rem;
    }

    .product-price {
      font-size: 1.8rem;
      font-weight: 700;
      margin: 3rem 0 1rem;
    }

    .control-wp {
      margin-bottom: 1.2rem;

      .control-title {
        display: inline-block;
        vertical-align: middle;
        width: 50%;
        @media screen and (min-width: $sm-min-width) {
          width: calc(100% - 25rem);
        }
        @media screen and (min-width: $xl-min-width) {
          width: 35%;
        }

        .control-text {
          font-size: 1.2rem;
        }
      }

      .control {
        display: inline-block;
        vertical-align: middle;
        width: 50%;

        @media screen and (min-width: $sm-min-width) {
          width: 25rem;
        }
        @media screen and (min-width: $xl-min-width) {
          width: 65%;
        }

        .dropdown-selector {
          border: 1px solid #cccccc;
          font-size: 1.2rem;
          padding: 1rem;
          position: relative;

          i {
            float: right;
          }
        }
      }
    }

    .color-selector {
      .color-list {
        .color {
          display: inline-block;
          height: 30px;
          margin-right: 7px;
          width: 30px;
          border: 1px solid transparent;

          &:hover {
            border: 1px solid black;
            cursor: pointer;
          }

          &.yellow {
            background-color: #EEC236;
          }

          &.gray {
            background-color: #BABABA;
          }

          &.rose {
            background-color: #DE97A1;
          }

          &.darker-gray {
            background-color: #626262;
          }
        }
      }
    }

    .quantity {

      .control-title {
        vertical-align: top;

        &.quantity-title {
          padding-top: 1rem;
          @media screen and (min-width: $lg-min-width) {
            display: inline-block;
            width: calc(100% - 25rem);
          }
          @media screen and (min-width: $xl-min-width) {
            width: 35%;
          }
        }
      }

      .control {
        @media screen and (min-width: $lg-min-width) {
          display: inline-block;
        }
      }

      .quantity-wp {
        @media screen and (min-width: $lg-min-width) {
          display: inline-block;
          vertical-align: top;
          width: 40%;
        }

        .quantity-btn {
          border: 1px solid #cdcdcd;
          display: inline-block;
          color: #000000;
          padding: 4px;
          height: 3rem;
          vertical-align: top;
          font-size: 2rem;
          font-weight: 400;
          line-height: 2rem;
          text-align: center;
          width: 3rem;

          @media screen and (min-width: $lg-min-width) {
            height: 3.3rem;
          }

          &:hover {
            cursor: pointer;
          }

          &.inc {
            padding-left: 8px;
            font-size: 1.8rem;
          }
        }

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        input[type="number"] {
          -moz-appearance: textfield;
        }
        .quantity-input {
          border: none;
          border-top: 1px solid #cdcdcd;
          border-bottom: 1px solid #cdcdcd;
          display: inline-block;
          height: 3rem;
          text-align: center;
          width: 3rem;
          @media screen and (min-width: $lg-min-width) {
            height: 3.3rem;
          }
        }
      }
    }

    .add-to-cart-wp {
      text-align: right;
      margin-bottom: 2.5rem;
      margin-top: 1.5rem;

      @media screen and (min-width: $lg-min-width) {
        display: inline-block;
        margin-bottom: 0;
        margin-top: 0;
        vertical-align: top;
        width: 60%;
      }

      .add-to-cart-btn {
        background-color: $secondary-color;
        border: 1px solid $secondary-color;
        color: #ffffff;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0.7rem 1rem;
        max-width: 200px;
        width: 100%;

        @media screen and (min-width: $lg-min-width) {
          display: inline-block;
          vertical-align: middle;
          width: 150px;
        }

        &:hover {
          background-color: #ffffff;
          color: $secondary-color;
          cursor: pointer;
          font-weight: 700;
        }

      }
    }

    .share-section {
      margin: 3rem 0 1rem;

      .share-title {
        display: inline-block;
        font-size: 1.2rem;
        font-weight: 700;
        margin-right: 1.5rem;
      }

      .share-icons {
        display: inline-block;
        font-size: 1.2rem;
        margin-bottom: 2rem;

        .social-icon {
          color: $secondary-color;
          margin-right: 1rem;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .share-description {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-bottom: 2rem;
      }

    }

  }
}

.also-like-section {
  padding-top: 2rem;

  @media screen and (min-width: $md-min-width) {
    padding-top: 4rem;
  }

  .also-like-title {
    font-family: didot;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .also-like-grid-wp {
    margin-bottom: 4rem;
    @media screen and (min-width: $md-min-width) {
      margin-bottom: 6rem;
    }

    .grid-wp {
      .grid-wp-inner {
        text-align: center;
      }
    }

    .product-wp {
      @media screen and (min-width: $sm-min-width) {
        width: 35%;
      }
      @media screen and (min-width: $md-min-width) {
        width: 20%;
      }
      @media screen and (min-width: $lg-min-width) {
        margin-right: 4rem;
      }

      .text-wp {
        font-size: 1.5rem;
      }
    }
  }
}
