* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100% !important;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

.container {
  font-size: 0;
  padding: 0 10px;
  position: relative;
}

@media screen and (min-width: 544px) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1280px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 76px;
  }
}

.go-to-listing {
  width: 200px;
  height: 200px;
  margin: 4rem auto;
}

.go-to-listing a {
  font-size: 2rem;
}

.products-grid-section {
  padding: 4rem 0;
}

.products-grid-section a {
  text-decoration: none;
}

.products-grid-section a:visited {
  color: #43474a;
}

.products-grid-section .container {
  text-align: center;
}

.products-grid-section .grid-wp {
  margin: 0 auto;
  text-align: center;
}

.products-grid-section .grid-wp .product-wp {
  font-size: 0;
  margin: 2rem auto 0;
  margin-bottom: 2rem;
  text-align: center;
  max-width: 25rem;
}

.products-grid-section .grid-wp .product-wp:hover {
  cursor: pointer;
}

@media screen and (min-width: 544px) {
  .products-grid-section .grid-wp .product-wp {
    display: inline-block;
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp {
    min-height: 360px;
    vertical-align: top;
  }
  .products-grid-section .grid-wp .product-wp:hover {
    transform: scale(1.1);
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.19);
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp:hover .text-wp {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .products-grid-section .grid-wp .product-wp {
    display: inline-block;
    margin-right: 2rem;
    text-align: left;
    width: 30%;
  }
}

.products-grid-section .grid-wp .product-wp .img-wp {
  margin-bottom: 2rem;
}

.products-grid-section .grid-wp .product-wp .img-wp img {
  width: 100%;
}

.products-grid-section .grid-wp .product-wp .text-wp {
  color: #43474a;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .products-grid-section .grid-wp .product-wp .text-wp {
    padding-left: 1rem;
  }
}

.products-grid-section .grid-wp .product-wp .text-wp .product-title {
  font-weight: 100;
  margin-bottom: 1rem;
}

.products-grid-section .grid-wp .product-wp .text-wp .product-price {
  font-weight: 600;
}

/*# sourceMappingURL=default.css.map */
