
* {
  //font-family: Arial, Helvetica, sans-serif;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: didot;
  src: url("../fonts/didot.ttc");
}


html,
body {
  height: 100% !important;
}

//Variables declaration
//breakpoints
$sm-min-width: 544px;
$md-min-width: 768px;
$lg-min-width: 992px;
$xl-min-width: 1200px;


//Import partials

@import "reset";
@import "commons";
@import "index";
@import "listing";
@import "header";
@import "footer";
@import "product-details";
@import "content";
